# Dependencies
node_modules/

# Build output
dist/
build/
bin/
out/

# Environment & secrets
.env
.env.*
!.env.example
*.pem

# Pulumi
Pulumi.*.yaml.bak

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example

# Logs
*.log
npm-debug.log*

# OS / editor
.DS_Store
Thumbs.db
.idea/
*.swp
